.controller {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: black;
  border: 1px solid black;
}

.north {
  top: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: n-resize;
}

.northeast {
  right: -0.25rem;
  top: -0.25rem;
  cursor: ne-resize;
}

.east {
  top: 50%;
  right: -0.25rem;
  transform: translateY(-50%);
  cursor: e-resize;
}

.southeast {
  bottom: -0.25rem;
  right: -0.25rem;
  cursor: se-resize;
}

.south {
  bottom: -0.25rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: s-resize;
}

.southwest {
  bottom: -0.25rem;
  left: -0.25rem;
  cursor: sw-resize;
}

.west {
  left: -0.25rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: w-resize;
}

.northwest {
  left: -0.25rem;
  top: -0.25rem;
  cursor: nw-resize;
}
